body {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

header div {
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    display: flex;
    
}

div h1 {
    margin-left: 30px;
}

.list {
    list-style: none;
    display: flex;
    gap: 30px;
    margin-right: 30px;
}

li a {
    text-decoration: none;
    color: white;
}

.firstsection-inner {
    background-color:rgb(247, 239, 226);
}

.kkk {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 80px 50px;
    background-color: white;
}

.kkk p {
    text-align: right;
    display: flex;
    line-height: 1.8;
}

.kkk video {
  width: 1100px;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}



.welcome {
    margin: 12px;
    padding: 5px 12px;
    text-align: center;
}

.highlights {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 40px 20px;
    background-color: white;
}

.highlights h2 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
}


footer {
    text-align: center;
    background-color: black;
    padding: 5px;
    color: white;
}